<h2>Thank you for your order!</h2>
<small class="text-muted">Your summary for order number <%= @order.id %> appears below and will also be emailed to <%= @order.email %>.  Please consider printing this page for your records.</small>

<% if current_user.nil? %>
    <br />
    <small><strong>Please also consider <a href="/users/sign_up">creating an account</a> using the same email address associated with your payment method so that you can revisit your order summary if necessary.</strong></small>
<% end %>
    <br />
<br />
<table class="table">
<thead class="thead-dark">
<tr>
<th scope="col">Product Name</th>
<th scope="col">Price</th>
</tr>
</thead>
<% @order.order_items.each do |item| %>
    <tr>
    <th scope="col"><%= item.product.name %></th>
    <th scope="col">$<%= '%.2f' % item.product.price.to_i %></th>
    </tr>
<% end %>
<th scope="col">Total</th>
<th scope="col">$<%= '%.2f' % @order.total.to_i %></th>
</table>