<!-- <p id="notice"><%= notice %></p>

<%= render "search" %>

<%# <div class="row">  %>
<%# <%= render @products %>
<%# <%= render partial: "productCard", collection: @products %> 
<%# </div> %>
<br> -->

<div id="react-container">
    <%= javascript_pack_tag 'indexProduct' %>
    </div>